
<div class='div-edit-form'>
<h2 class='form-label-h2'>Edit Class</h2>
<form class='details-form' action="/classy/{{classEdit.id}}" method="post">
<label class='form-label-name' for="name">Name</label>
<input class='edit-form-btn-lg' type="text" name="name" value="{{classEdit.name}}" id="">
<br />
<label class='form-label' for="occupation">Description</label>
<input class='edit-form-btn-lg' type="text" name="description" value="{{classEdit.description}}" id="">
<label  class='form-label' for="classDate">Class Date</label>
<input class='edit-form-btn' type="date" name="classDate" value="{{classEdit.classDate}}" id="">
<label  class='form-label' for="time">Class Time</label>
<input class='edit-form-btn' type="time" name="time" value="{{classEdit.time}}" id="">
<br />

<br />
<button class='edit-class-btn' type="submit">Edit Class</button>
</form>

</div>