<div class="signup">
  <a class='back-btn' href="javascript:history.back()">Back</a>
   <a class='back-to-profile' href="/classy/classy">Profile</a>
  <h1>Class details</h1>

  <form action="/classy/feedback/{{classId.id}}" method='post'>
    {{!-- <fieldset> --}}
    <label class="classDetailsLabel">Rating</label>
    <div class="rating">
      <input type="radio" id="star10" name="rating" value="10"><label for="star10" title="Rocks!">5 stars</label>
      <input type="radio" id="star9" name="rating" value="9"><label for="star9" title="Rocks!">4 stars</label>
      <input type="radio" id="star8" name="rating" value="8" /><label for="star8" title="Pretty good">3 stars</label>
      <input type="radio" id="star7" name="rating" value="7" /><label for="star7" title="Pretty good">2 stars</label>
      <input type="radio" id="star6" name="rating" value="6" /><label for="star6" title="Meh">1 star</label>
      <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Meh">5 stars</label>
      <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Kinda bad">4 stars</label>
      <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Kinda bad">3 stars</label>
      <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Sucks big tim">2 stars</label>
      <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
    </div>
    <label class="classDetailsLabel">Feedback</label><br>
    <textarea class="fields" type="text" name="feedback" rows="3" cols="40" value='{{classId.feedback}}'></textarea>
    {{!-- </fieldset> --}}
    <button class="btnCreate" type='submit'>Save</button>
  </form>
  <section class="feedback_rating">
    <hr>
    <div class="feedback">
      {{#each classId.feedback}}
      <p><b>Feedback:</b></p>
      {{feedback}}<br>
      <i>{{user}} </i><br>      
       <b>Rating:</b> {{rating}} <br>
       <hr>
        <form action ='/classy/class/{{../classId._id}}/feedback/{{_id}}/delete' method='POST'>  
        <button class='delete-btn' type ='submit'>DELETE</button>
        </form>

      {{/each}}
    </div>
  </section>
</div>