<div class="signup">
   <a href="/classy/classy"><i class="far fa-arrow-alt-circle-left" style='font-size:3em; margin:1em; color:#2ABB9B'></i></a>


<h1 class='signup-h2-lg' style='color:black'>Profile</h1>
    <div>
    <img class='profile-pic img-fluid mx-auto d-block' src="{{imgPath}}" alt='photo'>
    </div>
      
    <form action="/classy/profile/edit-profile" method='post' enctype="multipart/form-data" class='form-lg'>
    <input class='btn w-100' type="file" name="photo"/>

      <label class='form-label'>Name</label>
      <input class="signupFields" type='text' name='name'placeholder='New Name' value='{{name}}'>
      <label class='form-label'>New Password</label>
      <input class="signupFields" type='password' name='password' placeholder='Set a new password'>
      <label class='form-label'>Phone Number</label>
      <input class="signupFields" type='text' name='phoneNumber' value='{{phoneNumber}}' required='required'>

       {{#if isTeacher}}
      <label class='form-label'>Set a new Price</label>
      <input class="signupFields" type='number' name='classPrice' placeholder='New Price €' min='0' value='{{classPrice}}'/>
       <label class='form-label' style='text-align:center' from='bio'>Write your Bio</label>
      <textarea class="signupFields" rows="10" cols="50" type='text' name='bio' placeholder='Write about yourself and what you offer'>{{bio}}</textarea>
   
      <input class="signupFields"  type='text' name='subject' placeholder='What can you teach?' required='required' value='{{subject}}'>

      {{/if}}
      <button class="btn-warning btn" type='submit'>Save</button>
    </form>
</div>
{{#if errorMessage}}
<p> {{errorMessage}}</p>
{{/if}}