<!-- Teacher and student interface (TSI) -->
<nav class='userInt-nav'>
    <a class='home-a' href='/home'>Home</a>
</nav>

<div class='full-class'>

    <h2 class='h2-interface'>YOUR CLASSES</h2>
 
<!--Teacher interface-->

    <div class='teacher-interface'>
    {{#if isTeacher }}
        {{#each classes}}

         {{this.classDate2}}<br>
         {{this.time}} 
            - 
         {{this.name}} 
         {{this.student.0.name}} <a href='/classy/{{this._id}}/class-details'>⊕</a>

    <form action ='/classy/{{this._id}}/delete' method='POST'>  
        <button type ='submit'>DELETE</button>
    </form>
        <a href='/classy/{{this._id}}/edit'>EDIT</a><br>
        <br>
    
    {{/each}} 

<a href='/classy/create-class'>Create a new class</a> <br>
    <a href='/auth/logout'>Log out</a>
    </div>
{{/if}}

<!-- Student interface -->
    {{#unless isTeacher}}
    <div class='student interface'>
    {{#each classes}}

    {{this.classDate2}}<br>
    {{this.time}}
    {{this.name}} 
    {{this.description}}<a href='/classy/{{this._id}}/class-details'>⊕</a><br>

    {{/each}}

    <br>
    <a href='/auth/logout'>Log out</a>

    </div>
    {{/unless}}
</div>





    
