<!-- Teacher and student interface (TSI) -->
<nav>
    <a href='/home'>Home</a>
</nav>

<div>
    <h2>YOUR CLASSES</h2>
    
</div>

<!--Teacher interface-->
{{#if ../isTeacher }}

    {{#each classes}}

    {{this.classDate2}}<br>
    {{this.time}} 
    - 
    {{this.name}}
    {{this.description}}
    {{this.student.0.name}}

    <form action ='/classy/{{this._id}}/delete' method='POST'>  
        <button type ='submit'>DELETE</button>
        </form>
    <a href='/classy/{{this._id}}/edit'>EDIT</a><br>
    {{/each}} 

{{/if}}

{{#if isTeacher}}
<a href='/classy/create-class'>Create a new class</a>
{{/if}}


<!-- Student interface -->

{{#unless isTeacher}}

    {{#each classes}}

    <p>Welcome back {{student.0.name}} <br></p>
    <p>Classes<br></p>
    
    {{this.classDate2}}<br>
    {{this.time}} 
    - 
    {{this.name}}
    {{this.description}}


    
    {{/each}}
{{/unless}}

<!--(TSI)--->

<br>
<a href='/auth/logout'>Log out</a>


