<!-- Teacher and student interface (TSI) -->
<nav>
    <a href='/home'>Home</a>
</nav>

<div>
    <h2>YOUR CLASSES</h2>
    Welcome back! 
</div>

<!--Teacher interface-->
{{#each classes}}
    {{#if ../isTeacher }}


    {{this.classDate2}}<br>
    {{this.time}} 
    - 
    {{this.name}}
    {{this.description}}
    {{this.student.0.name}}

    <form action ='/classy/{{this._id}}/delete' method='POST'>  
        <button type ='submit'>DELETE</button>
        </form>
    <a href='/classy/{{this._id}}/edit'>EDIT</a><br>

    {{/if}}
{{/each}} 

{{#if isTeacher}}
<a href='/classy/create-class'>Create a new class</a>
{{/if}}


<!-- Student interface -->

{{#each classes}}
    {{#unless isTeacher}}

    {{this.classDate2}}<br>
    {{this.time}}
    {{this.name}}
    {{this.description}}<br>

    
    {{/unless}}
{{/each}}

<!--(TSI)--->

<br>
<a href='/auth/logout'>Log out</a>


