<nav>
    <a href='/home'>Home</a>
</nav>

<div>

    <h2>YOUR CLASSES</h2>
    

</div>


 {{#each classes}}

    {{this.classDate}}
    {{this.name}}
    {{this.description}}
    
{{#if ../isTeacher }}

<form action ='/classy/{{this._id}}/delete' method='POST'>  
        <button type ='submit'>DELETE</button>
        </form>
    
    <a href='/classy/{{this._id}}/edit'>EDIT</a>

{{/if}}

{{/each}}  

{{#if isTeacher}}
<a href='/classy/create-class'>Create a new class</a>
{{/if}}

{{#unless isTeacher}}

You're a student

{{/unless}}
<a href='/auth/logout'>Log out</a>


